[Desktop Entry]
Type=Application
Version=1.0
Name=Graduately
GenericName=Graduately study app
GenericName[cs]=Příprava na maturitu
Comment=Practice app for the Czech maturita exam
Comment[cs]=Procvičování k maturitě
Exec=graduately
Icon=maturita
Terminal=false
Categories=Education;
StartupNotify=true
StartupWMClass=org-maturita-maturita-desktop-MainKt
